# This file is a sample env file. Create an ".env" file consisting of all the below variables and their corresponding values.

# Server Port & Configuration
PORT=

# Mongo DB
MONGODB_URI=
NODE_ENV=

# Authentication
JWT_SECRET=
JWT_EXPIRES_IN=

# Admin Credentials
ADMIN_EMAIL=
ADMIN_PASSWORD=
